@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer

 {
 background-color:#333; min-height:150px; font-family: 'Open Sans', sans-serif; }
 .footerRow {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.footerleft { padding:0 36px;}
.footermiddle { padding:20px 36px; }
.footerright { padding:0 36px;     height: 152px;}
.footerrightcontent {
	width: 150px;
    height: 62px;
    margin: auto;
    padding: 10px;
    position: relative;
    top: calc(50% - 32px);
}
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footermiddle p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footermiddle p i { width:20px; color:#999;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.footerright p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerright p i { width:20px; color:#999;}

.footer div {height: 150px;}
.paddingtop-bottom {  margin-top:50px;}
.footer

-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer

-ul li { line-height:29px; font-size:12px;}
.footer

-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer

-ul i { margin-right:10px;}
.footer

-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
 #footerLeft { width: 47%; float: left; display: block; 50px;}
#footerRight { width: 47%; float: right; display: block; height: 50px; }

.facebook{
  background: url('../assets/socialmediaicons-02.svg') no-repeat top left;
  background-size: contain;
}
.twitter{
  background: url('../assets/socialmediaicons-01.svg') no-repeat top left;
  background-size: contain;
}
.social {
  display: inline-block;
  height : 3em;
  width : 3em;
  transform: translate(0, 0);
}
